<header>
    <div class="container">
        <div class="header__one">
            <div class="logo">
                <div class="burger"></div>
                <img src="https://yastatic.net/s3/vertis-front-deploy/_autoru-frontend/autoru-red_0c0678f2fa473ec88b5a4db05485d3ac.svg" alt="">
            </div>
            <div class="search">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" d="M21.707 20.293 16.314 14.9A7.96 7.96 0 0 0 18 10a8 8 0 1 0-8 8 7.96 7.96 0 0 0 4.9-1.686l5.393 5.393zM10 16c-3.308 0-6-2.692-6-6s2.692-6 6-6 6 2.692 6 6-2.692 6-6 6"/></svg>
                <input type="text" placeholder="Поиск по объявлениям">
            </div>
        </div>
    </div>
</header>