<header>
    <div class="container">
        <div class="header__one">
            <div class="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <a routerLink="/">
             <img src="assets/icons/logo.svg" alt="logo" class="logo">
            </a>
            <div class="search">
                <svg class="search__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="#767778" d="M21.707 20.293 16.314 14.9A7.96 7.96 0 0 0 18 10a8 8 0 1 0-8 8 7.96 7.96 0 0 0 4.9-1.686l5.393 5.393zM10 16c-3.308 0-6-2.692-6-6s2.692-6 6-6 6 2.692 6 6-2.692 6-6 6"/></svg>
                <input type="text" placeholder="Поиск по объявлениям">
            </div>

            <nav class="navbar__one">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M18.893 11.69A3.6 3.6 0 0 0 20 9.088C20 7.095 18.397 5.5 16.444 5.5a3.54 3.54 0 0 0-2.842 1.432L12 9.077l-1.602-2.145A3.54 3.54 0 0 0 7.556 5.5C5.603 5.5 4 7.095 4 9.088c0 1.027.424 1.948 1.108 2.603L12 19.48zM12 22.5l-8.276-9.365A5.6 5.6 0 0 1 2 9.088C2 6.002 4.487 3.5 7.556 3.5c1.093 0 2.113.318 2.973.867A5.6 5.6 0 0 1 12 5.735a5.6 5.6 0 0 1 1.47-1.368 5.5 5.5 0 0 1 2.974-.867C19.513 3.5 22 6.002 22 9.088a5.6 5.6 0 0 1-1.723 4.045z" clip-rule="evenodd"></path></svg>
                    Избранное
                </a>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" d="M17.319 5.257 16 6.415l-1.319-1.157c-.397-.349-1.025-.346-1.406.026a.87.87 0 0 0 0 1.269L16 9.208l2.785-2.713a.887.887 0 0 0-.059-1.211c-.382-.373-1.01-.375-1.407-.027m2.802-1.406c1.13 1.101 1.159 2.856.121 4.016L16 12l-4.121-4.016a2.87 2.87 0 0 1 0-4.134A3 3 0 0 1 13.986 3c.72 0 1.442.252 2.014.754A3.05 3.05 0 0 1 18.014 3a3 3 0 0 1 2.107.851m1.564 16.42-1.369 1.458-5.528-5.188C13.499 17.343 12.001 18 10 18c-4.411 0-8-3.589-8-8 0-4.072 3.06-7.436 7-7.931V4.09C6.167 4.569 4 7.033 4 10c0 3.309 2.691 6 6 6 1.715 0 2.973-.62 4.333-1.551L15 14z"></path></svg>
                    Поиски
                </a>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="m16 12-1.414-1.414L17.172 8H3V6h14.172l-2.586-2.586L16 2l5 5zm-8 0 1.414 1.414L6.828 16H21v2H6.828l2.586 2.586L8 22l-5-5z" clip-rule="evenodd"></path></svg>
                    Сравнения
                </a>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M20 12c0-5.786-4.35-7-8-7s-8 1.214-8 7c0 1.705.244 2.299.674 3.202l.276.578-.111.631-.374 2.123 2.361-.416.584-.103.546.232c1.258.535 2.43.753 4.044.753 3.65 0 8-1.214 8-7M2 12c0-6 4-9 10-9s10 3 10 9-4 9-10 9c-2 0-3.415-.312-4.826-.912L2 21l.87-4.936C2.313 14.897 2 14 2 12m5-1h2v2H7zm8 0h2v2h-2zm-2 0h-2v2h2z" clip-rule="evenodd"></path></svg>
                    Сообщения
                </a>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M19 4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-2.67h4.52l.11 1.5c.03.38.36.67.75.67h1.18c.41 0 .75-.32.75-.72V13.6a6.6 6.6 0 0 0-.5-2.43l-.25-.61-.57-1.35-.04-.1-.5-1.64-.33-1.04-.06-.2a14.7 14.7 0 0 0-5-.73H4V5a1 1 0 0 1 1-1zM2 19V5a3 3 0 0 1 3-3h14a3 3 0 0 1 3 3v14a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3M7.71 8.56l-.15-.53-.04-.01a7 7 0 0 0-1.45-.29h-.03c-.6-.06-1.23-.06-1.92-.06h-.05l-.01-.11v.1a80 80 0 0 1 0 2.9H8.3l-.2-.68-.06-.18-.34-1.14zm-3.7 4v1.77h5.3v-.72c0-.34-.05-.7-.14-1.05zM14 6a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2z" clip-rule="evenodd"></path></svg>
                    Я продаю
                </a>
            </nav>

            <div class="header__btns">
                <a routerLink="/">Войти</a>
                <a routerLink="/">Разместить объявление</a>
            </div>
        </div>
    </div>

    <nav class="header__navbar">
        <div class="container">
            <div class="header__navbar__link">
                <a routerLink="#">Легковые</a>
        <a routerLink="#">Коммерческие</a>
        <a routerLink="#">Электро</a>
        <a routerLink="#">Китайские</a>
        <a routerLink="#">Мото</a>
        <a routerLink="#">Отчёты</a>
        <a routerLink="#">Кредиты</a>
        <a routerLink="#">Оценка авто</a>
        <a routerLink="#">Страховки</a>
        <a routerLink="#">Гараж</a>
        <a routerLink="#">Журнал</a>
        <a routerLink="#">Для Бизнеса</a>
            </div>
        </div>
    </nav>

    <nav class="header__navbar__two">
        <div class="container">
            <div class="header__navbar__two__link">
                <a routerLink="#">Объявления</a>
                <a routerLink="#">Каталог</a>
                <a routerLink="#">Дилеры</a>
                <a routerLink="#">Видео</a>
                <a routerLink="#">Отзывы</a>
                <a routerLink="#">Бортжурнал</a>
            </div>
        </div>
    </nav>
</header>