<div class="container">
    <div class="carbrand">
        <div class="carbrand__left">
    
            <div class="carbrand__left-text">
                <h1>Хорошие машины продаются здесь</h1>
                <span>Легковые автомобили</span>
            </div>
    
            <div class="carbrand__left-option">
                <div class="carbrand__left-option-one">
                    <p class="carbrand__left-active">Все</p>
                    <p>Новые</p>
                    <p>С пробегом</p>
                </div>
    
                <div class="carbrand__left-option-one">
                    <p class="carbrand__left-active">Марки</p>
                    <p>Помощник</p>
                </div>
            </div>
    
            <div class="carbrand__left-brands">
                <img src="/assets/carbrands/dealer_logo-0.png" alt="brand">
                <img src="/assets/carbrands/dealer_logo-1.png" alt="brand">
                <img src="/assets/carbrands/dealer_logo-2.png" alt="brand">
                <img src="/assets/carbrands/dealer_logo-3.png" alt="brand">
                <img src="/assets/carbrands/dealer_logo-4.png" alt="brand">
                <img src="/assets/carbrands/dealer_logo-5.png" alt="brand">
                <img src="/assets/carbrands/dealer_logo-6.png" alt="brand">
                <img src="/assets/carbrands/dealer_logo-7.png" alt="brand">
                <img src="/assets/carbrands/dealer_logo-8.png" alt="brand">
                <img src="/assets/carbrands/dealer_logo-9.png" alt="brand">
                <img src="/assets/carbrands/dealer_logo-10.png" width="64" alt="brand">
            </div>

            <div class="carbrand__left-list">
                <a routerLink="/">Lada (ВАЗ) <span>13198</span></a>
                <a routerLink="/">Audi <span>5366</span></a>
                <a routerLink="/">BMW <span>12193</span></a>
                <a routerLink="/">Belgee <span>3908</span></a>
                <a routerLink="/">Changan <span>2880</span></a>
                <a routerLink="/">Chery <span>8461</span></a>
                <a routerLink="/">Chevrolet <span>3089</span></a>
                <a routerLink="/">Citroen <span>1493</span></a>
                <a routerLink="/">Exeed <span>1366</span></a>
                <a routerLink="/">Ford <span>5408</span></a>
                <a routerLink="/">GAC <span>1267</span></a>
                <a routerLink="/">Geely <span>12097</span></a>
                <a routerLink="/">Haval <span>4662</span></a>
                <a routerLink="/">Honda <span>2163</span></a>
                <a routerLink="/">Hyundai <span>7141</span></a>
                <a routerLink="/">Jaecoo <span>2662</span></a>
                <a routerLink="/">Kia <span>9230</span></a>
                <a routerLink="/">Knewstar <span>1521</span></a>
                <a routerLink="/">Land Rover <span>2971</span></a>
                <a routerLink="/">Lexus <span>2336</span></a>
                <a routerLink="/">Lixiang <span>2275</span></a>
                <a routerLink="/">Mazda <span>3508</span></a>
                <a routerLink="/">Mercedes-Benz <span>11893</span></a>
                <a routerLink="/">Mitsubishi <span>3410</span></a>
                <a routerLink="/">Nissan <span>5584</span></a>
                <a routerLink="/">Omoda <span>1671</span></a>
                <a routerLink="/">Opel <span>3048</span></a>
                <a routerLink="/">Peugeot <span>1835</span></a>
                <a routerLink="/">Porsche <span>1962</span></a>
                <a routerLink="/">Renault <span>3199</span></a>
                <a routerLink="/">Skoda <span>5392</span></a>
                <a routerLink="/">Toyota <span>8795</span></a>
                <a routerLink="/">Volkswagen <span>8187</span></a>
                <a routerLink="/">Volvo <span>2101</span></a>
                <p>Все марки <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="m1.97 6.031 1.061-1.06 4.97 4.97 4.97-4.97 1.06 1.06-6.03 6.03-6.03-6.03Z" clip-rule="evenodd"/></svg></p>
            </div>

            <div class="carbrand__left-predlojenia">
                <p>189 552 предложения, из них 60 265 размещены только на Авто.ру <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16" class="IconSvg IconSvg_name_SvgInfoSOutline IconSvg_size_16 IndexSelector__exclusiveIcon"><g fill="currentColor" clip-path="url(#info_s_outline_svg__a)"><path d="M9 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0m0 2.25H6.25v1.5H7.5V12H9z"></path><path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m0-1.5a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13" clip-rule="evenodd"></path></g><defs><clipPath id="info_s_outline_svg__a"><path fill="#fff" d="M0 0h16v16H0z"></path></clipPath></defs></svg></p>

                <button>Показать 189 552 предложения</button>
            </div>
            
           
        </div>

        <div class="carbrand__calc">
            <img src="/assets/icons/calcicon.svg" alt="calcicon">
            <h2>Узнайте, сколько стоит
                ваш автомобиль</h2>

                <div class="carbrand__calc-main">
                    <input type="text" placeholder="Госномер или VIN">
                    <input type="text" placeholder="Пробег, км">
                    <input type="text" placeholder="Город продажи">
                </div>

                <div class="carbrand__calc-btns">
                    <button>Оценить бесплатно</button>
                    <button>Ввести параметры вручную</button>
                    <span>Оценка основана на реальных продажах авто
                        с похожими параметрами и историей владения</span>
                </div>
        </div>
    </div>
</div>