<div class="container">
    <div class="main">
        <h1><img src="https://yastatic.net/s3/vertis-front-deploy/_autoru-frontend/feed_c04da74e5a216d9a42d478bf295acb2d.svg" alt="img"> Рекомендации</h1>

        <div class="products">
            <div class="cart">
                <div class="cart__one">
                    <img src="https://avatars.mds.yandex.net/get-autoru-vos/4387583/d8f9005e82006f1f4fdc130a352d7eab/320x240" alt="">
                </div>
                <div class="cart__two">
                    <p class="price">7 150 000 ₽</p>
                    <p class="name">BMW M5 VI (F90)</p>
                    <span >2018 / 105 000 км</span>
                </div>
            </div>
        </div>
    </div>
</div>