<div class="login">
  <div class="login__component">
    <div class="login__component-one">
      <div class="login__component-head">
        <img src="/assets/icons/logo.svg" alt="logo" />
        <span>Вход на сайт</span>
      </div>

      <div class="login__component-main">
        <ng-container *ngIf="!isCodeStep; else codeInput">
          <input
            type="text"
            placeholder="Телефон или почта"
            [(ngModel)]="email"
            (keyup.enter)="requestAuthCode()"
            [disabled]="isLoading"
          />
          <button (click)="requestAuthCode()" [disabled]="isLoading">
            {{ isLoading ? 'Загрузка...' : 'Далее' }}
          </button>
        </ng-container>

        <ng-template #codeInput>
          <input
            type="text"
            placeholder="Введите 6-значный код"
            [(ngModel)]="code"
            maxlength="6"
            (keyup.enter)="verifyCode()"
            [disabled]="isLoading"
          />
          <button (click)="verifyCode()" [disabled]="isLoading">
            {{ isLoading ? 'Загрузка...' : 'Подтвердить' }}
          </button>
          <!-- <button (click)="goBack()" [disabled]="isLoading" class="go-back">
            Назад
          </button> -->
        </ng-template>
      </div>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <div class="login__component-footer">
        <span>Войти с помощью</span>
        <div class="option__auth">
          <img src="/assets/icons/yandexid.svg" alt="yandex" />
          <img
            src="https://yastatic.net/s3/vertis-front-deploy/_autoru-frontend/gosuslugi_4293f2dade080099e1ed612fa0c7e217.svg"
            alt="gosuslugi"
          />
          <img src="/assets/icons/vk.svg" alt="vk" />
          <div class="option__auth__isall">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M5 10a2 2 0 1 0-.001 3.999A2 2 0 0 0 5 10m7 0a2 2 0 1 0-.001 3.999A2 2 0 0 0 12 10m5 2a2 2 0 1 1 3.999-.001A2 2 0 0 1 17 12"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
        </div>
        <p class="conditions">
          Авторизуясь на сайте, я принимаю условия
          <a href="#">пользовательского соглашения</a> и даю согласие на обработку
          персональных данных в соответствии с законодательством России и
          <a href="#">политикой конфиденциальности</a>.
        </p>
      </div>
    </div>

    <div class="login__component-one login__component-two">
      <div class="login__component-two-left">
        <h2>
          Для дилеров
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
            class="IconSvg IconSvg_name_SvgArrowRightM IconSvg_size_24 AuthFormSwitcherToBusiness__arrowIcon-Ys_vg"
          >
            <path
              fill="currentColor"
              d="m16.5 12-7 7-1.461-1.379L13.66 12 8.039 6.379 9.5 5z"
            ></path>
          </svg>
        </h2>
        <p>Авто.ру Бизнес и Авто.ру Кабинет</p>
      </div>
      <img src="/assets/icons/avto-junior.svg" alt="avto-junior" />
    </div>
  </div>
</div>