.login {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("/assets/banners/login.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    position: absolute;
    inset: 0;
    content: "";
    background: #00000080;
  }

  &__component {
    z-index: 2;
    display: flex;
    flex-direction: column;
    max-width: 366px;
    gap: 20px;

    &-one {
      padding: 35px;
      border-radius: 36px;
      display: flex;
      background: #fff;
      flex-direction: column;
      gap: 20px;

      .login__component-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        img {
          width: 144px;
        }

        span {
          font-size: 15px;
          line-height: 20px;
        }
      }

      .login__component-main {
        display: flex;
        flex-direction: column;
        gap: 8px;

        input {
          height: 56px;
          border: 0;
          background: #f1f1f3;
          font-size: 17px;
          padding: 0 16px;
          border: 1px solid transparent;
          border-radius: 16px;

          &:focus {
            outline: none;
            border: 1px solid #222;
          }
        }

        .code__verify {
          display: flex;
          width: 100%;
          gap: 5px;

          input {
            width: 100%;
            border-radius: 12px;
            border: 1px solid #f1f1f3;
            text-align: center;
            font-size: 20px;
            transition: all 0.3s ease;

            &:focus {
              background: #fff;
              border-color: #222;
            }
          }

          &.success {
            input {
              border: 1px solid #28a745;
              background-color: rgba(40, 167, 69, 0.1);
              color: #28a745;
            }
          }
        }

        button {
          height: 56px;
          border: 0;
          background: #000;
          color: #fff;
          font-size: 17px;
          padding: 0 16px;
          border-radius: 16px;
          cursor: pointer;
          font-weight: 500;

          &:hover {
            background: #595959;
          }
        }
      }

      .login__component-footer {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
          text-align: center;
          font-size: 15px;
          color: #1c212899;
        }

        .option__auth {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          img {
            cursor: pointer;
          }

          .option__auth__isall {
            width: 40px;
            height: 40px;
            background: #eceef0;
            border-radius: 50%;
            display: flex;
            align-items: center;
            cursor: pointer;
            justify-content: center;

            svg {
              color: #aeb1b4;
            }
          }
        }

        .conditions {
          font-size: 11px;
          text-align: center;
          color: grey;

          a {
            color: #0c78ed;
          }
        }
      }
    }

    &-two {
      display: flex;
      flex-direction: row;
      cursor: pointer;

      .login__component-two-left {
        display: flex;
        flex-direction: column;
        gap: 6px;

        h2 {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 20px;
          transition: all 0.3s ease;
        }

        p {
          font-size: 15px;
          color: #1c212899;
          display: flex;
          text-wrap: nowrap;
        }
      }

      img {
        width: 44px;
      }

      &:hover {
        .login__component-two-left {
          h2 {
            color: #e60000;
          }
        }
      }
    }
  }
}
