header {
  display: flex;
  flex-direction: column;
}

.header__one {
  height: 76px;
  display: flex;
  align-items: center;

  .burger {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 0 16px;
    margin-left: -16px;
    cursor: pointer;

    span {
      width: 20px;
      height: 3px;
      background: #e60000;
    }
  }

  .logo {
    display: flex;
  }

  .search {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 30px;

    input {
      background: transparent;
      border: 0;
      height: 42px;
      padding: 0 10px 0 40px;
      border-radius: 8px;
      background: #eceef0;
      border: 1px solid transparent;
      font-size: 15px;

      &:hover {
        background: #fff;
        border: 1px solid rgb(109, 109, 255);
      }

      &:focus {
        outline: none;
        background: #fff;
        border: 1px solid rgb(109, 109, 255);
      }
    }

    .search__icon {
      position: absolute;
      padding: 10px;
    }
  }

  .navbar__one {
    display: flex;
    align-items: center;
    gap: 25px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 11px;
      color: #1c212899;

      svg {
        color: #111;
      }
    }
  }

  .header__btns {
    height: 44px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    position: relative;

    .avatar {
      width: 44px;
      height: 44px;
      cursor: pointer;
      margin: 0 20px;
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    a {
      height: 100%;
      background: blue;
      display: flex;
      align-items: center;
      padding: 0 25px;
      background: #efeff3;
      border-radius: 8px;
      font-size: 15px;

      &:hover {
        background: #dddfe2;
      }

      &:last-child {
        background: #36b555;
        color: #fff;

        &:hover {
          background: #5bc274;
        }
      }
    }

    .popup__me {
      position: absolute;
      left: 20px;
      box-sizing: border-box;
      min-width: 270px;
      padding: 16px;
      background: #fff;
      z-index: 2;
      top: 50px;
      font-size: 15px;
      border-radius: 8px;
      box-shadow: 0 10px 30px 0 #0000001a;
      display: flex;
      flex-direction: column;
      gap: 17px;

      a,
      p {
        margin-left: 5px;
        height: auto;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0;
        background: none;
        font-size: 15px;
        transition: 0.2s ease;
        cursor: pointer;

        &:hover {
          color: #e60000;
        }
      }

      &-avatar {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        margin-bottom: 2px;

        &:hover {
          .span__text {
            p {
              color: red;
            }
          }
        }

        img {
          width: 40px;
          object-fit: cover;
          height: 40px;
          border-radius: 50%;
        }

        .span__text {
          display: flex;
          flex-direction: column;
          font-size: 14px;

          p {
            margin: 0;
          }

          span {
            color: #1c212899;
            font-size: 13px;
          }
        }
      }
    }
  }
}

.header__navbar {
  background: #e60000;
}

.header__navbar__link {
  display: flex;
  align-items: center;
  color: #fff;
  height: 44px;

  a {
    padding: 0 10px;
    font-size: 15px;

    &:first-child {
      padding: 0 10px 0 0;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
.header__navbar__two {
  border-bottom: 1px solid #0000001a;
}

.header__navbar__two__link {
  display: flex;
  align-items: center;
  color: #1c212899;
  height: 44px;

  a {
    padding: 0 15px;
    font-size: 15px;

    &:first-child {
      padding: 0 15px 0 0;
    }

    &:hover {
      color: #e60000;
    }
  }
}
